<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for k,v in student.items %}
     
        <p>key:{{k}}</p>
        <p>counter: {{forloop.counter0}} reverse counter: {{forloop.revcounter0}}</p>
        <p>Is it frist element?? {{forloop.first}}</p>
        <p>Is it frist element?? {{forloop.last}}</p>
   
        {% for k1,v1 in v.items%}
             <p>{{k1}}-{{v1}}</p>
        {%endfor%} 
    {%endfor%}
</body>
</html>